header{
    background-size: 100%;
    height: 100vh;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

h1{
    display: block;
    text-align: center;
    font-size: 70px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: sans-serif;
    color: #B4D62A;
}

.p1{  
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 0;
    font-family: monospace;
    color: #23AF49;
}

.p2{  
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 0;
    font-family: monospace;
    color: #67C13B;
}

.countdown{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-top: 30px;
}
li{
    display: inline-block;
    list-style: none;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

body > header > div > div > ul > li > p{  
    display: block;
    text-align: center;
    font-size: 18px;
    margin: 0;
    font-family: sans-serif;
    color: #ccc;
}
.days{
    display: block;
    text-align: center;
    font-size: 50px;
    margin: 0;
    font-family: sans-serif;
    color: #ccc;
}

.hours{
    display: block;
    text-align: center;
    font-size: 50px;
    margin: 0;
    font-family: sans-serif;
    color: #ccc;
}

.minutes{
    display: block;
    text-align: center;
    font-size: 50px;
    margin: 0;
    font-family: sans-serif;
    color: #ccc;
}

.seconds{
    display: block;
    text-align: center;
    font-size: 50px;
    margin: 0;
    font-family: sans-serif;
    color: #ccc;
}

header > div > p > input{
    border: none;
    border-bottom: 1px solid #ccc;
    width: 500px;
    background-color: transparent;
    margin-top: 20px;
    color: #ccc;
    font-family: sans-serif;
}
:placeholder{
    color: #ccc;
}

input:focus{
    outline: none;
}

button:focus{
    outline: none;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
  
.button:hover {background-color: #ff5e00}
  
.button:active {
    background-color: #ff5e00;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.mouse{
    display: inline-block;
    margin-top: 15px;
    height: 40px;
    width: 26px;
    border: 2px solid #67C13B;
    border-radius: 13px;
    position: absolute;
    margin-left: -13px;

}
    .mouse > .mouse-wheel{
        position: absolute;
        top: 8px;
        left: 11px;
        height: 10px;
        width: 3px;
        background-color: #67C13B;
        border-radius: 50%;
        animation-name: vazinejimas;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-timing-function: linear;
        animation-fill-mode: backwards;
    }
    @keyframes vazinejimas {
        0%   {
            top:15%;
            opacity: 1;
            background: #67C13B;
        }
        100%  {
            top:35%;
            opacity: 0;
            background: #182838;
        }
    }